<% layout('layout') %>

<!-- Navigatiron -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    	  <div class="navbar-header">
        	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
          	<a class="navbar-brand" id="home" href="#" onclick="return false;">Futuretek Dashboard</a>
      	</div>
      	<div class="collapse navbar-collapse">
          	<ul class="nav navbar-nav">
            	<li id="monitoring"><a href="#" onclick="return false;">Monitoring</a></li>
            	<li id="sensorlist" class="active"><a href="#" onclick="return false;">Sensor List</a></li>
            	<!-- <li><a href="#">IFTTT</a></li> -->
          	</ul>
 	    </div><!--/.nav-collapse -->
    </div>
</div>

<!-- Sensor list 동적으로 불러와 List 추가 -->
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Sensor List</h3>
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table id="table_sensor" class="table table-bordered">
                <tr class="active">
                    <th style="width: 70px">#</th>
                    <th>Edge Node (ID)</th>
                    <th>Sensor (ID)</th>
                    <th>Status</th>
                    <th>Monitoring</th>
                </tr>
                <tbody>
                    <% var index = 1 %>
                    <% for ( var i=0; i<sensors.length; i++ ) { %>
                    <% if (status[i] == 0) { %>
                    <tr class="warning">
                        <td>
                            <%= index++ %>
                        </td>
                        <td>
                            <%= edgenode[1].value + " (" + edgenode[0].value + ")" %>
                        </td>
                        <td>
                            <%= sensors[i].name + " (" + sensors[i].objects[0].id + ")" %>
                        </td>
                        <td>
                            <%= sensors[i].objects[0].status %>
                        </td>
                        <td>
                            <button id=<%='btn_config_' + i %> type='button' class='btn btn-primary btn-xs'
                                    onClick='setSensorInfo("<%= i %>","<%= edgenode[1].value %>", "<%= edgenode[0].value %>", "<%= sensors[i].name %>", "<%= sensors[i].objects[0].id %>")'>
                                Setting
                            </button>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 모니터링 list에 추가 -->
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Monitoring List</h3>
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table id="table_sensor" class="table table-bordered">
                <tr class="active">
                    <th style="width: 70px">#</th>
                    <th>Edge Node (ID)</th>
                    <th>Sensor (ID)</th>
                    <th>Name</th>
                    <th>Discription</th>
                    <th>Config</th>
                </tr>
                <tbody>
                <% for ( var i=0; i<monitoring.length; i++ ) { %>
                <tr class="success">
                    <td>
                        <%= i + 1 %>
                    </td>
                    <td>
                        <%= monitoring[i].edgenode %>
                    </td>
                    <td>
                        <%= monitoring[i].sensor + " (" + monitoring[i].sensorId + ")" %>
                    </td>
                    <td>
                        <%= monitoring[i].name %>
                    </td>
                    <td>
                        <%= monitoring[i].description %>
                    </td>
                    <td>
                        <button id=<%='btn_config_' + i %> type='button' class='btn btn-primary btn-xs'
                                onClick='setModifySensorInfo("<%= monitoring[i].index %>","<%= monitoring[i].edgenode %>","<%= monitoring[i].edgenodeId %>",
                                        "<%= monitoring[i].sensor %>", "<%= monitoring[i].sensorId %>",
                                        "<%= monitoring[i].name %>", "<%= monitoring[i].description %>")'>
                            Modify
                        </button>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Sensor Setting Popup -->
<div class="modal" id="modal_add_sensor">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        		<h4 class="modal-title" id="title_add_sensor">Add Monitoring Sensor</h4>
      		</div>
      		<div class="modal-body">
      			<label>ID</label>
                <input type="text" class="form-control" id="idInput" disabled="disabled">
                <br>
                <label>Sensor</label>
                <input type="text" class="form-control" id="sensorInput" disabled="disabled">
                <br>
      			<label for="nameInput">Name</label>
				<input type="text" class="form-control" id="nameInput" placeholder="Name">
				<br>
        		<label for="descriptionInput">Description</label>
				<input type="text" class="form-control" id="descriptionInput" placeholder="Description">
				<br>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearInput()">Close</button>
        		<button type="button" class="btn btn-primary" id="btn_save_sensor">Save</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Sensor Setting Popup -->
<div class="modal" id="modal_modify_sensor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="title_add_sensor">Modify Monitoring Sensor</h4>
            </div>
            <div class="modal-body">
                <label>ID</label>
                <input type="text" class="form-control" id="modify_idInput" disabled="disabled">
                <br>
                <label>Sensor</label>
                <input type="text" class="form-control" id="modify_sensorInput" disabled="disabled">
                <br>
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="modify_nameInput" placeholder="Name">
                <br>
                <label for="descriptionInput">Description</label>
                <input type="text" class="form-control" id="modify_descriptionInput" placeholder="Description">
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearInput()">Close</button>
                <button type="button" class="btn btn-primary" id="btn_modify_sensor">Modify</button>
                <button type="button" class="btn btn-danger" id="btn_delete_sensor">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="javascripts/util.js"></script>
<script type="text/javascript" src="javascripts/sensorlist.js"></script>